body{
  margin: 0px;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

/* NAVBAR */

.topnav{
  position: absolute;
  right: 50px;
  top: 68px;
  height: auto;
  transition: 1s height;
}

.topnav ul {
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

.topnav li {
  list-style: none;
  text-decoration: none;
  display: inline;
}

.topnav li a{
  margin: 0px 10px;
  text-decoration: none;
  color: white;
}

.navlogo{
  width: 241px;
  margin: 36px;
}

.topnav-geometric-background{
  width: 544px;
  height: 300px;
  transform: rotate(13deg); /* Equal to rotateZ(13deg) */
  background-color: #8377af; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */ 
  z-index: -1;
  position: absolute;
  right: -8px;
  top: -92px;
}

.collapsed-nav {
  height: auto;
  background-color: #8377af;
  display: none;
}

.collapsed-nav div {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  position: relative;
  left: 85%;
  top: -2px;
}

@media all and (max-width: 768px) {
  .navlogo {
    width: 100%;
    max-height: 120px;
    margin: 10px auto;
  }
  
  .topnav-geometric-background {
    display: none;
  }
  
  .topnav {
    position: static;
    right: 0;
    top: 0;
    background-color: #8377af;
    padding-top: 25px;
    padding-bottom: 10px;
  }
}


@media all and (max-width: 480px) { 
  .topnav {
    padding-top: 15px;
    margin-top: -1px;
  }
  
  .topnav ul {
    overflow: hidden;
    margin: 0px;
  }
  
  .topnav li {
    display: block;
    padding: 10px 0px;
  }
  
  #links {
    max-height: 0px;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #links.active {
    overflow: hidden;
    max-height: 500px;
  }
  
  .collapsed-nav {
    display: block;
  }
   
}

/* MAIN CONTENT */
main{
  margin: 160px 68px 96px;
  flex: 1 0 auto;
}

.input-group{
  display: table;
  box-sizing: border-box;
}

input#search {
  padding-left: 14px;
}

.input-group-btn{
  display: table-cell;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: bottom;
}

input[type="text"]::placeholder {
  color: #b8b7b9;
}

.form-control{
  height: 43px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align:middle;
  font-family: inherit;
  border: 1.5px solid #564a7b;
  border-radius: 2px;
  width: 290px;
  font-size: 18px;
  font-weight: 300;
  color: #564a7b;
}

.form-control:focus {
  outline: 0;
}

i.far.fa-plus-square {
  margin-left: 9px;
  font-size: 14px;
  position: relative;
  top: 1px;
}

button .fas {
  font-size: 18px;
}

.btn {
  width: 55px;
  margin-left: -2px;
  margin-top: -1px;
  cursor: pointer;
}

.btn:hover {
  background: #564a7b;
  color: #fff;
}

.splash-add-restroom-btn {
  width: 225px;
  background-color: rgba(65,50,107,0.9);
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 3.5px 3.5px 12px 0px rgba(50,50,50,0.75);
  line-height: 1.3333333;
  font-family: inherit;
  vertical-align: middle;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 20px;
}

.splash-add-restroom-btn:hover {
  background-color: rgb(62, 52, 103);
}


.find-refuge-div{
  margin-bottom: -6px;
}

.large-text {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.large-text p {
  margin: 0px 0px;
}

.darkpurple-text{
  color: #3e3467; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
  width: 75%;
}

.grey-text {
  color: #808080; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
  line-height: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
  max-width: 580.5px;
}


@media (max-width: 768px) {
  main {
    margin: 0 auto;
  }
  
  .darkpurple-text {
    margin: 0 auto;
    font-size: 2em;
    margin-top: 50px;
    width: 85%;
  }
  
  .grey-text {
    width: 85%;
    margin: 30px auto 30px;
    max-width: none;
  }
  
  .input-group {
    margin-left: 40px;
  }
  
  .splash-add-restroom-btn {
    margin: 15px 0 0;
  }
  
  input.form-control {
    width: 60vw;
  }
  
  .add-restroom-wrapper {
    text-align: left;
    padding-left: 40px;
  }
}

@media (max-width: 480px) {
  .input-group {
    display: block;
    margin-left: 0px;
  }
  
  .input-group-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  input.form-control {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  
  .add-restroom-wrapper {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  
  .add-restroom-wrapper button {
    width: 180px;
  }
}

/* FOOTER */
footer{
  color: white;
  background-color: #808080; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
  margin-bottom: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 126px;
  flex-shrink: 0;
}

footer > p {
  float: left;
  margin-left: 35px;
  vertical-align: middle;
  line-height: 1.3rem;
  font-weight: 400;
}

footer > nav{
  float: right;
  text-align: right;
  padding-right: 35px;
}

footer a{
  text-decoration: none;
  color: white;
}

.social-row {
  font-size: 36px;
}

nav ul,
.social {
  list-style: none;
}

nav ul li,
.social {
  display: inline-block;
}

@media (max-width: 768px) {
   footer {
     margin-top: 40px;
     height: 250px;
   } 
}

@media (max-width: 400px) {
   footer {
     height: 300px;
   } 
}