body{
  margin: 0px;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
}

header{
  margin-bottom: 96px;
}

main{
  margin: 160px 68px 96px;
  width: 40em;
}

form{
  margin: 20px 0px;
}

footer{
  color: white;
  background-color: #808080; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer > p {
  width: 25em;
  float: left;
  margin-left: 35px;
  vertical-align: middle;
  line-height: 1.3rem;
  font-weight: 400;
}

footer > nav{
  width: 50%;
  float: right;
  text-align: right;
  padding-right: 35px;
}

.social-row {
  font-size: 36px;
}

.topnav-geometric-background{
  width: 544px;
  height: 300px;
  transform: rotate(13deg); /* Equal to rotateZ(13deg) */
  background-color: #8377af; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */ 
  z-index: -1;
  position: absolute;
  right: -8px;
  top: -92px;
}

.topnav{
  position: absolute;
  right: 50px;
  top: 68px;
}

.find-refuge-div{
  margin-bottom: -6px;
}

.topnav a{
  margin: 0px 10px;
}

.navlogo{
  width: 241px;
  margin: 36px;

}

footer a{
  text-decoration: none;
  color: white;
}

nav a{
  text-decoration: none;
  color: white;
}

.input-group{
  display: table;
  box-sizing: border-box;
}

input#search {
  padding-left: 14px;
}

.input-group-btn{
  display: table-cell;
  box-sizing: border-box;
  white-space: nowrap;
}

input[type="text"]::placeholder {
  color: #b8b7b9;
}

.form-control{
  height: 43px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align:middle;
  font-family: inherit;
  border: 1.5px solid #564a7b;
  border-radius: 2px;
  width: 290px;
  font-size: 18px;
  font-weight: 300;
  color: #564a7b;
}

.form-control:focus {
  outline: 0;
}

i.far.fa-plus-square {
  margin-left: 9px;
  font-size: 14px;
  position: relative;
  top: 1px;
}

button .fas {
  font-size: 18px;
}

.btn {
  width: 55px;
  margin-left: -2px;
  margin-top: -1px;
  cursor: pointer;
}

.btn:hover {
  background: #564a7b;
  color: #fff;
}

.splash-add-restroom-btn {
  width: 35%;
  background-color: rgba(65,50,107,0.9);
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 3.5px 3.5px 12px 0px rgba(50,50,50,0.75);
  line-height: 1.3333333;
  font-family: inherit;
  vertical-align: middle;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
}

.splash-add-restroom-btn:hover {
 background-color: rgb(62, 52, 103);
}

.large-text{
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.large-text p{
  margin: 0px 0px;
}

.darkpurple-text{
  color: #3e3467; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
}

.grey-text{
  color: #808080; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
  line-height: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
}

nav ul,
.social {
  list-style: none;
}

nav ul li,
.social {
  display: inline-block;
}
