body{
  margin: 0px;
  overflow: hidden;
}

.topnav-geometric-background{
  width: 544px;
  height: 300px;
  transform: rotate(13deg); /* Equal to rotateZ(13deg) */
  background-color: #8377af; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */ 
  z-index: -1;
  position: absolute;
  right: -8px;
  top: -91px;
}

.navlogo{
  width: 260px;
}

.darkpurple-text{
  color: #3e3467; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */ /* #41326b */
}