body{
  margin: 0px;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
}

header{
  margin-bottom: 96px;
}

.topnav-geometric-background{
  width: 544px;
  height: 300px;
  transform: rotate(13deg); /* Equal to rotateZ(13deg) */
  background-color: #8377af; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */ 
  z-index: -1;
  position: absolute;
  right: -8px;
  top: -92px;
}

.topnav{
  position: absolute;
  right: 174px;
  top: 68px;
}

.topnav a{
  margin: 0px 10px;
}

.navlogo{
  width: 241px;
  margin: 36px;

}

nav a{
  text-decoration: none;
  color: white;
}

.darkpurple-text{
  color: #3e3467; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
}

.grey-text{
  color: #808080; /* From official color scheme: https://color.adobe.com/Refuge-Restrooms-color-theme-4191730/ */
}
